@import "./tokens.scss";

@mixin button() {
  padding: $space-xs $space-sm;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mm-btn-default {
  @include button();
  background-color: transparent;
  border: 1px solid $border-main;
}

.mm-btn-primary {
  @include button();
  background-color: $primary-main;
}

.mm-btn-secondary {
  @include button();
  background-color: $secondary-main;
}

.mm-btn-text {
  @include button();
  color: $primary-main;
  background-color: transparent;
}

.mm-btn-icon {
  background-color: transparent;
  cursor: pointer;
}

.mm-btn-lg {
  padding: $space-sm $space-md;
  font-size: 1.2rem;
}
