@import "./tokens.scss";

@mixin button() {
  padding: $space-xs $space-sm;
  border: 1px solid $border-main;
  border-radius: 4px;
  cursor: pointer;
}

.mm-btn-default {
  @include button();
  background-color: $background-main;
}

.mm-btn-primary {
  @include button();
  background-color: $primary-main;
}

.mm-btn-secondary {
  @include button();
  background-color: $secondary-main;
}

.mm-btn-text {
  @include button();
  color: $primary-main;
  background-color: transparent;
}

.mm-btn-icon {
  background-color: transparent;
  cursor: pointer;
}
