@import "tokens";

.headerRightContainer {
  display: flex;
  align-items: center;

  & > select {
    margin: 0 $space-sm;
  }
}

.editor {
  height: 100%;
  width: 100%;
  color: $text-inverted;
  background-color: $background-main;
  padding: $space-sm;
}
