@import "tokens.scss";

.sectionContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  background-color: $surface-main;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-xs $space-sm;
  background-color: $background-secondary;

  & > h3 {
    font-weight: normal;
  }
}
